/* selectores:
    etiquetas
        atributos : valor;
    identificadores
        atributos : valor;
    clases
        atributos : valor;
    pseudoelementos 
        atributos : valor;
    */
body{
    color: black;
    background: white;
    max-width: 1024px;
    margin: 0px auto;
    
}
header{
    background: lightseagreen;
    color: white;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
}

header img {
    width: 100px;

}
header nav ul li{
    display: inline-block ;
    background: orange;
    padding: 5px ;
    border-radius: 5px;
    width: 108px;
    margin: 10px;
    box-shadow: 5px 5px black;
    color: black;
    
}
header nav ul li:hover{
    background: black;
    color:orange;
    box-shadow: 5px 5px orange;
}
#seccion01{
    margin-top: 15px;
}