body{
    max-width: 1024px;
    margin: 0px auto;
    font-size: 16px;
}
header{
    background: #B3D8EB;
}
header nav{
    background: #026DC6;
    padding: 2px 0px;
    width: 99%;
    margin: 0 auto;
    border-radius: 5px;
}
header nav form{
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
header nav form input{
    border-radius: 5px; 
    height: 30px;
}
header nav form input[type="button"]{
    background: green;
    border: 1px solid green;
    color: white;
}
header nav ul li{
    display: inline-block;
    color: white;
    margin-right: 20px;
}
#logo{
    margin-top: -160px;
}
#seccion01{
    margin-top: 15px;
}
#seccion01 article{
    text-align: center;
}
#seccion01 img{
    border: 5px solid rgba(150, 150, 150, 0.5);
}
#seccion02 article{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px; 
}
#seccion02 article input[type="submit"]{
    background: white;
    color: blue;
    border-radius: 5px;
    height: 30px;
    margin-left: 130px;
}
.nito{
    font-weight: bold;
}
.unaSeccion{
    font-size: 4.5em;
}
.otraSeccion{
    font-size: 2.5em;
}
